

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:linear-gradient(115deg,#667eea,#9e4ba2);
    min-height: 100vh;
    padding: 20px;
    color: black;
}
.container{ 
    max-width: 1300px;
    margin: auto;
}
.header{
        text-align: center;color: rgb(255, 255, 254);
        margin-bottom: 20px;}
.header h1{
        font-size: 3em;
}
.search-box{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-bottom: 30px;
}
.search-box input{
        padding: 12px;
        border: none;
        width: 450px;
        border-radius: 20px;
}
.search-box button{
    background-color: rgb(191, 107, 33);
    padding: 10px;
    border: none;
    width: 90px;
    border-radius: 20px;
}
 
.search-box button{
    cursor: pointer;
}

.current-weather,
.forecast-section{
    background-color: #fff;
    padding: 50px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.current-weather-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.location{
    font-size: 1.8em;
    font-weight: bold;
}

.date{
    color: gray;
}

.current-main{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 30px;
}

.weather-icon{
    font-size: 5em;
}

.temperature{
    font-size: 3.5em;
    font-weight: bold;
    color: #667eea;
}

.description{
    color: gray;
}

.weather-details{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    gap: 15px;
}

.detail-item{
    background: #f5e2ca;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}

.value{
    font-weight: bold;
}

.hourly-forecast{
    display: flex;
    gap: 10px;
    overflow-x: auto;
}

.hourly-item{
    background:#9bd4f3;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    min-width: 100px;
}
.daily-forecast{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(130px,1fr));
    gap: 10px;
}

.daily-item{
    background: #dbbafc;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}
.loading{
    text-align: center;
    color: #58d2f4;
    font-size: 1.5em;
}
.error{
    background: rgb(244, 129, 129);
    color: #ffffff;
    padding: 10px;
    
}